<!-- <header>
  <div class="container">
    <a href="#" routerLink="/" class="logo">Food Mine!</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/cart-page">Cart</a></li>
      </ul>
    </nav>
  </div>
</header> -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>XOXO</title>
</head>

<body>

  <header>
    <div id="logo">
      <img
        src="https://imgs.search.brave.com/YzPSmB-6BQgZfb9tWjgiEzq9jyWReOVIpK86fBG0Idc/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9ub29u/LWZvb2QuY29tL3dw/LWNvbnRlbnQvdXBs/b2Fkcy8yMDIwLzAy/L25vb24tZm9vZC1s/b2dvLXdoaXRlLTEu/c3Zn.svg"
        alt="Website Logo">
      <h3>Food noon</h3>
    </div>

    <nav>
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/about">About Us</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/logout" >Logout</a></li>
      </ul>
    </nav>
  </header>

  <!-- The rest of your webpage content goes here -->
</body>


</html>